.ui.vertical.steps {
    height: 90vh;
}

.ui.vertical.steps .step {
    background:#ffbf47;
    cursor: pointer;
}

.task {
    display: flex;
    background-image: url("./paper4.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: black;
}

.taskText {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    text-shadow: 1px 1px 1px rgb(45, 45, 45);
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.taskText div{
    text-align: center;
}

.flex {
    display: flex;
}

.ui.button {
    color: #bfc48b !important;
    background-color: rgba(0,0,0,0.6) !important;
    padding: 10px;
}