body {
    background-color: #DADADA;
    font-family: 'Tahoma';
  }
  body > .grid {
    height: 100%;
  }
  .column {
    max-width: 450px;
    margin: auto;
  }
  .ui.middle.aligned.center.aligned.grid {
      height: 100vh;
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./background.png");
      background-size: cover;
      margin: 0;
  }
  .ui.fluid.large.submit.button {
      background-color: rgb(146, 24, 3);
      color: antiquewhite;
  }