body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./background.png");
    background-size: cover;
  }
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
    margin: auto;
  }
  .ui.middle.aligned.center.aligned.grid {
      height: 100vh;
  }