body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./background.png");
    background-size: cover;
  }

.map {
    background-image: url("./background.png");
    background-size: cover;
    height: 100vh;
    margin: 0;
    position: relative;
}
.ui.red.button {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(146, 24, 3);
    color: antiquewhite;
}
#stepOne {
    position: absolute;
    top: 60%;
    left: 20%;
}