body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./background.png");
    background-size: cover;
  }

.map {
    background-image: url("./background.png");
    background-size: cover;
    height: 100vh;
    margin: 0;
}
.tasks {
    margin: 0;
}